

.main-area{
  background-color:#b3c289a1;
}

.calculator{
  width:48px;
  height:48px;
  background-image: url('../calculator.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.space{
  width: 20px;
  height: 20px;
}
.page-header {
  font-size: 28px;
  line-height:48px;
  font-weight: bold;
  color: #B3C289;
}

.updatedTime{
 color: #a2af7c;
  font-size:14px;
  line-height:56px;
  margin-bottom: 0px;
  margin-left: auto;
 
}

.main-area {
  border-radius: 8px;
  border: 1px solid rgba(170, 170, 170, 0.521);
  padding-top: 40px;
  padding-bottom: 60px;
}

.currency-field {
  display: flex;
  justify-content: space-around;
}

.input_div {
  height: 60px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  display:flex;
  
}
input::placeholder {
  color:rgb(75, 75, 75);
}

.input1 {
  border: transparent;
  width: 60%;
  font-size:18px;
  line-height:30px;
}

.input1:focus {
  outline: none;
}

.input1_grey{
  border: transparent;
  width: 60%;
  font-size:18px;
  line-height:30px;

}

.input2{
  border: transparent;
  
  text-align: center;
  font-size:18px;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input2:focus{
  outline: none;
}

.selection{
  display: flex;
  justify-content: space-around;
}
.arrow {
  text-align: center;
  flex-grow: 1;

}

.arrow button {
  border: none;
  background-color: transparent;
}


.amount {
  height: 70px;
  border-radius: 5px 5px 0px 0px;
  background-color:rgba(202, 202, 202, 0.5) ;
  text-align: center;
}

/* .plus :hover {
  background-color:rgb(189, 189, 189);
} */

.amount p{
  font-size:18px;
}



.select-area{
  width: 100%;
  height: 100px;
  background-color:white;; 
  border-radius: 5px;
  border:0.2px solid #cccccc;
  overflow-y: auto;
  padding: 0;
 
}

.select-area ul{
  margin: 0;
  padding: 0;
}

.select-area ul li{
  list-style-type: none;
  text-align:center;
  color: #000;
  font-size:16px;
  cursor:default;
}



.select-area ul li:hover {
  background-color: #cccccc4d;
}

.dnone{
  visibility: hidden;
}

.dshow{
  visibility: visible;
}

.TAIWAN-Flag,
.search_icon {
  object-fit: cover;
}


.TAIWAN-Flag img{
  width: 35px;
  height:30px;

}

.search_icon img{
  width:30px;
  height:30px;
}



.opacity0{
  opacity: 0;
}
.opacity1{
  opacity: 1;
}









